<div class="container">
  <h1>All places</h1>

  <div class="row">

    <% @places.each do |place|  %>
    <div class="col-md-4">
      <div class="panel">
        <%= link_to image_tag(place.image.url(:medium)), place_path(place) %>
        <h3>  <%= link_to place.title, place_path(place) %></h3>
        <span><%= place.rating %>, <%= place.reviews.count %> reviews</span><br>
        <span><%= place.pictures.count  %> pictures</span>
      </div>
    </div>
    <% end %>
  </div>
    <%= paginate @places %>
</div>

