<div class="container">
  <h1><%= @place.title %></h1>
  <div>
    <%= image_tag(@place.image.url(:medium)) %>
  </div>
  <p><%= @place.description %></p>
  <span><%= @place.category.name %></span>
  <% if user_signed_in? && @place.user == current_user %>
  <div>
    <%= link_to "Edit", edit_place_path(@place), class: "btn btn-default" %>
  </div>
  <% end %>
</div>
