<div class="container">
  <h1><%= @place.title %></h1>
  <div>
    <%= image_tag(@place.image.url(:medium)) %>
  </div>
  <span><%= @place.category.name %></span>
  <p><%= @place.description %></p>
  <section>
    <h2>Gallery</h2>
    <% if @pictures %>
    <% @pictures.each do |pic| %>
    <%= image_tag(pic.image.url(:thumb)) %> 
    <% end %>
    <% end %>
  </section>
  <% if user_signed_in? && @place.user == current_user %>
  <div>
    <%= link_to "Edit", edit_place_path(@place), class: "btn btn-default" %>
  </div>
  <% end %>
  <hr>
  <% if user_signed_in? %>
  <div>
    <%= render 'picture_form', p: @place %>
  </div>
  <% end %>
</div>
